@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
  min-height: 100vh;
  font-size: 4.5vmin;
  font-family: "Roboto", sans-serif;
  color: #ebebeb;
  background: #1f1f1f;
  display: flex;
}

.choose *, .buttons > *, .info {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
}

button,
input {
  font: inherit;
  background-color: inherit;
  color: inherit;
}

a {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  text-decoration: none;
}
a:link {
  color: #ebebeb;
}
a:visited {
  color: #ebebeb;
}

.container {
  margin: auto;
  width: 90vmin;
  display: flex;
}

.info {
  font-size: 3vmin;
  color: #777777;
}

.operators-settings,
.questions-settings {
  box-sizing: border-box;
  border: 0.5vmin solid #4a4a4a;
  border-radius: 6vmin;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.operators-settings > *,
.questions-settings > * {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.buttons > * {
  box-sizing: border-box;
  height: 12vmin;
  color: #ebebeb;
  border-radius: 6vmin;
}

.text-with-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.operators-settings {
  padding: 3vmin;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.operators-settings > * {
  padding: 3vmin 0;
}
.operators-settings .text,
.operators-settings .value {
  margin-bottom: 3vmin;
}
.operators-settings .buttons {
  width: auto;
  flex-direction: row;
  justify-content: flex-start;
}

.numbers {
  display: none;
}

.selected {
  box-sizing: border-box;
  border: 0.5vmin solid;
  background-color: inherit;
}

.unselected {
  box-sizing: border-box;
  border: 0.5vmin solid #4a4a4a !important;
  color: #777777;
}
.unselected:hover {
  box-shadow: 0 0 0.7vmin !important;
}

.value {
  border: 0;
  padding: 0;
  background-color: inherit;
  box-sizing: border-box;
  border-bottom: 0.3vmin solid #4a4a4a;
  width: 10vmin;
  color: rgb(212, 0, 255);
  text-align: center;
}
.value:focus {
  outline: none;
}
.value::-webkit-outer-spin-button, .value::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.choose {
  justify-content: space-between;
  align-content: space-between;
  color: #ebebeb;
  display: flex;
  width: 100%;
}
.operators .choose {
  font-size: 8vmin;
  width: 55vmin;
}
.operators .choose * {
  border-color: hsl(calc(310 - var(--i) * 5), 100%, 50%);
  width: 12vmin;
  height: 12vmin;
  border-radius: 6vmin;
}
.operators .choose *:hover {
  box-shadow: 0 0 1vmin hsl(calc(310 - var(--i) * 5), 100%, 50%);
}

.numbers,
.max {
  display: none;
}

.numbers .choose {
  width: 80vmin;
}
.numbers .choose * {
  border-color: hsl(calc(310 - var(--i) * 2), 100%, 50%);
  border-radius: 1vmin;
  width: 7vmin;
  height: 7vmin;
}
.numbers .choose *:hover {
  box-shadow: 0 0 1vmin hsl(calc(310 - var(--i) * 2), 100%, 50%);
}

.slider {
  width: 50vmin;
}
.slider .range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 3vmin;
  background: #1f1f1f;
  border-radius: 1.5vmin;
  position: relative;
  margin: 0;
  padding: 0;
}
.slider .range::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border-radius: 1.5vmin;
  border: 0.5vmin solid #4a4a4a;
  height: 3vmin;
  background-color: inherit;
}
.slider .range::-webkit-slider-thumb {
  box-sizing: border-box;
  -webkit-appearance: none;
          appearance: none;
  background: #1f1f1f;
  border: 0.5vmin solid rgb(212, 0, 255);
  border-radius: 100%;
  cursor: pointer;
  width: 4.5vmin;
  height: 4.5vmin;
  margin-top: -1.35vmin;
}
.slider .range::-moz-range-track {
  box-sizing: border-box;
  border-radius: 1.5vmin;
  border: 0.5vmin solid #4a4a4a;
  height: 3vmin;
}
.slider .range::-moz-range-thumb {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #1f1f1f;
  border: 0.5vmin solid rgb(212, 0, 255);
  border-radius: 100%;
  cursor: pointer;
  width: 4.5vmin;
  height: 4.5vmin;
  margin-top: -1.35vmin;
}
.slider .range::after, .slider .range::before {
  position: absolute;
  font-size: 3vmin;
  font-family: inherit;
  color: #777777;
  top: -7%;
}
.slider .range::after {
  left: 102%;
}
.slider .range::before {
  right: 102%;
}

#reset {
  border: 0.5vmin solid rgb(255, 55, 55);
  font-size: 6vmin;
  margin-right: 3vmin;
  width: 12vmin;
  pointer-events: none;
}
#reset:hover {
  box-shadow: 0 0 1.5vmin rgb(255, 55, 55);
}

#reset-svg {
  width: 7vmin;
  height: 7vmin;
}

#reset-svg-path {
  fill: #777777;
}

#next {
  border: 0.5vmin solid rgb(212, 0, 255);
  width: 12vmin;
  color: #777777;
  pointer-events: none;
}
#next:hover {
  box-shadow: 0 0 1.5vmin rgb(212, 0, 255) !important;
}

.questions-settings {
  height: 50vmin;
  display: none;
}
.questions-settings .text-with-input {
  margin-top: 9vmin;
}
.questions-settings .slider {
  margin-top: 6vmin;
}
.questions-settings .buttons {
  margin-top: 6vmin;
  width: auto;
  flex-direction: row;
  justify-content: flex-start;
}

#max-range::after {
  content: "100";
}
#max-range::before {
  content: "10";
}

#questions-range::after {
  content: "30";
}
#questions-range::before {
  content: "5";
}

#return {
  border: 0.5vmin solid rgb(212, 0, 255);
  margin-right: 3vmin;
  width: 12vmin;
}
#return:hover {
  box-shadow: 0 0 1.5vmin rgb(212, 0, 255);
}

#start {
  border: 0.5vmin solid rgb(80, 255, 80);
  width: 24vmin;
}
#start:hover {
  box-shadow: 0 0 1.5vmin rgb(80, 255, 80);
}/*# sourceMappingURL=settings.css.map */