$container-width: 90vmin;
$bgcolor: #1f1f1f;
$containerColor: #363636;
$fontSize: 4.5vmin;
$fontColor: #ebebeb;
$borderColor: #4a4a4a;
$button-height: 12vmin;
$border-radius: $button-height / 2;
$border-width: 0.5vmin;